/* line 1, ../../../compass/sass/scheduleAppointment.scss */
#searchParameters {
  display: inline-block;
}

/* line 5, ../../../compass/sass/scheduleAppointment.scss */
.inlineBox {
  float: left;
  margin-right: 10px;
}

/* line 10, ../../../compass/sass/scheduleAppointment.scss */
.confirmAppointmentInfo {
  font-family: 'OpenSansBold';
  font-size: 1.2em;
}

/* line 15, ../../../compass/sass/scheduleAppointment.scss */
#viewAllAppointmentTypes {
  font-size: 12px;
  margin-top: 29px;
  margin-right: 40px;
}

/* line 21, ../../../compass/sass/scheduleAppointment.scss */
#searchButtons {
  padding: 5px;
  padding-left: 0px;
}

/* line 26, ../../../compass/sass/scheduleAppointment.scss */
#filter {
  padding: 5px;
  padding-bottom: 10px;
}

/* line 31, ../../../compass/sass/scheduleAppointment.scss */
#noTimeSlots {
  padding: 5px;
}

/* line 35, ../../../compass/sass/scheduleAppointment.scss */
#selectAppointment {
  padding-top: 10px;
}

/* line 39, ../../../compass/sass/scheduleAppointment.scss */
#confirmAppointment div {
  padding: 5px;
}

/* line 43, ../../../compass/sass/scheduleAppointment.scss */
#appointmentReason {
  width: 400px;
  height: 100px;
}

/* line 48, ../../../compass/sass/scheduleAppointment.scss */
#appointmentCancelReason {
  width: 350px;
  height: 100px;
}

/* line 53, ../../../compass/sass/scheduleAppointment.scss */
#allAppointmentTypesModal {
  position: absolute;
  z-index: 999;
}

/* line 58, ../../../compass/sass/scheduleAppointment.scss */
.notes {
  margin-top: 30px;
}

/* line 61, ../../../compass/sass/scheduleAppointment.scss */
.appointment-filters {
  margin-bottom: 20px;
}

/* line 65, ../../../compass/sass/scheduleAppointment.scss */
#appointmentTable {
  width: 900px;
  height: 350px;
}

/* line 70, ../../../compass/sass/scheduleAppointment.scss */
.scheduleAppointmentTitle {
  margin-top: 40px;
}

/* line 74, ../../../compass/sass/scheduleAppointment.scss */
#scheduledAppointmentTable_wrapper {
  min-height: 0px;
}

/* line 78, ../../../compass/sass/scheduleAppointment.scss */
#confirm-cancel-appointment {
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 999;
}
