/* line 1, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.selectedAppointmentTypesList {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #DDD;
  background: #f3f3f3;
  margin-right: 4px;
  margin-bottom: 2px;
}

/* line 10, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.viewAllAppointmentTypes {
  font-size: 12px;
  margin-right: 40px;
}

/* line 15, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.selectmultipleInput {
  border: 0px;
}
/* line 18, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.selectmultipleInput:focus {
  outline: 0px;
}

/* line 23, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.selectmultipleBox {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #DDD;
  width: 70%;
}

/* line 30, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.displayTypeahead {
  display: block !important;
}

/* line 34, ../../../compass/sass/selectMultipleAppointmentTypes.scss */
.selectmultipleWidget {
  display: inline-block;
  width: 100%;
}
